..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\.eslintrc.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\app.json
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\App.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\gulpfile.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\assets
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\old-.babelrc
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\.watchmanconfig
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\.gitignore
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\.npmignore
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\babel.config.js
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\yarn-error.log
..\..\..\..\c:\Users\regin\Dropbox\react-native-audio-4expo\yarn.lock
